* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
  background-image: url(./image/Blu.jpg);
}
.container {
  width: 10em;
  display: flex;
  margin-left: -5%;
  justify-content: center;
  align-items: center;
}

.container1 {
  width: 10em;
  display: flex;
  margin-left: 35%;
  justify-content: center;
  align-items: center;
}
.card {
  transform-style: preserve-3d;
  min-height: 80vh;
  width: 35rem;
  border-radius: 30px;
  padding: 0rem 5rem;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
}
.card1 {
  transform-style: preserve-3d;
  min-height: 80vh;
  width: 35rem;
  border-radius: 30px;
  padding: 0rem 5rem;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
}

.sneaker {
  min-height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sneaker1 {
  min-height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sneaker img {
  width: 15rem;
  z-index: 2;
  transition: all 0.75s ease-out;
}
.sneaker1 img {
  margin-top: -20%;
  width: 19rem;
  z-index: 2;
  transition: all 0.75s ease-out;
}
.circle {
  width: 15rem;
  height: 15rem;
  background: linear-gradient(
    to right,
    rgba(19, 18, 18, 0.75),
    rgb(255, 219, 88)
  );
  position: absolute;
  border-radius: 50%;
  z-index: 1;
}
.circle1 {
  width: 13rem;
  height: 13rem;
  background: linear-gradient(to right, #77a1d3, #79cbca, #e684ae);
  position: absolute;
  border-radius: 50%;
  z-index: 1;
}

.info h1 {
  font-size: 3rem;
  transition: all 0.75s ease-out;
}
.info1 h1 {
  font-size: 3rem;
  transition: all 0.75s ease-out;
}
.info h3 {
  font-size: 1.3rem;
  padding: 2rem 0rem;
  color: rgb(255, 219, 88);
  font-weight: lighter;
  transition: all 0.75s ease-out;
}
.info1 h3 {
  font-size: 1.3rem;
  padding: 2rem 0rem;
  color: rgb(26, 2, 2);
  font-weight: lighter;
  transition: all 0.75s ease-out;
}
.sizes {
  display: flex;
  justify-content: space-between;
  transition: all 0.75s ease-out;
}
.sizes1 {
  display: flex;
  justify-content: space-between;
  transition: all 0.75s ease-out;
}
.sizes button {
  padding: 0.5rem 2rem;
  background: none;
  border: none;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  color: rgb(255, 219, 88);
}
.sizes1 button {
  padding: 0.5rem 2rem;
  background: none;
  border: none;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  color: #585858;
}
button.active {
  background: linear-gradient(
    to right,
    rgba(19, 18, 18, 0.75),
    rgb(255, 219, 88)
  );
  color: white;
}
button.active1 {
  background: linear-gradient(to right, #77a1d3, #79cbca, #e684ae);
  color: white;
}
.purchase {
  margin-top: 5rem;
  transition: all 0.75s ease-out;
}
.purchase1 {
  margin-top: 5rem;
  transition: all 0.75s ease-out;
}
.purchase button {
  width: 100%;
  padding: 1rem 0rem;
  background: linear-gradient(
    to left,
    rgba(19, 18, 18, 0.75),
    rgb(255, 219, 88)
  );
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 30px;
  font-weight: bolder;
}
.purchase1 button {
  width: 100%;
  padding: 1rem 0rem;
  background: linear-gradient(to left, #77a1d3, #79cbca, #e684ae);
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 30px;
  font-weight: bolder;
}
